<div style="direction: rtl;">
  שלום  {{name}},

<h2>ברוכים הבאים למחוון ני"ר</h2>

<h4>מחוון ני"ר (ניתוח ייחודי רשתי) פותח על ידי מרכז ישיבות ואולפנות בני עקיבא ומטרתו לסייע למוסדות הרשת בכתיבת חזון, הצבת יעדים וגיבוש תוכניות עבודה על בסיס נתונים.</h4>
<h4>היכנסו לקישור  /https://yaba-institution-identity.org.il</h4>
<h4>שם המשתמש כ{{role_name}} הינו כתובת המייל שלכם {{email}}</h4>
<h4>הסיסמה הזמנית שלכם היא {{pass}}</h4>
<h4>(יש להחליפה לאחר כניסה ראשונה).</h4>
<h4>בהצלחה</h4>
<h4>מינהל חינוך יב"ע</h4>

</div>