// .main {
//   display: flex;
//   flex-direction: column;

//   .main__header{
//     background-color: gray;

//     mat-progress-bar{
//       position: absolute;
//     }
//   }

// }
.component{
  display: flex;
  direction: rtl;
}

app-nav-bar{
  min-height: 100vh;
}

.main{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main .main__header--background{
  background-image: url('../../../assets/images/new-search-background.png');
  background-repeat: no-repeat;
  background-color: #E5E5E5;
  width: 100%;
  height: 100%;
  background-size: 100%;
  // align-items: center;
}
