<div class="component">
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <div class="misradHachinuchButton" (click)="onClickToMisradHaChinuch(institutionData?.institution.semel)">
          התמונה החינוכית
        </div>
        <div class="tohnitmenaelbutton" (click)="onClickToTohnitMenael()">
          תכנת המנהל
        </div>
      </div>
      <div class="col">
        <div class="mosadOverView">
          {{
          institutionData?.institution.name
          ? institutionData.institution.name
          : ""
          }}
          <div class="overView-info">
            סמל מוסד
            <span style="font-weight: normal">
              {{
                    institutionData?.institution.semel
                      ? institutionData.institution.semel
                      : ""
                  }}
            </span>
            <img src="../../assets/images/Vector (2).png"/>
          </div>
          <div class="overView-info">
            מנהל מוסד
            <span style="font-weight: normal" *ngIf="institutionData.institution.manager">
              {{
                    institutionData.institution.manager.first_name +
                      " " +
                      institutionData.institution.manager.last_name
                  }}
            </span>
            <img src="../../assets/images/torso.png"/>
          </div>
          <div class="overView-info">
            מנהל מרחב
            <span style="font-weight: normal" *ngIf="institutionData.institution.area_manager">
              {{
                    institutionData.institution.area_manager.first_name +
                      " " +
                      institutionData.institution.area_manager.last_name
                  }}
            </span>
            <img src="../../assets/images/torso.png"/>
          </div>

          <div class="overView-info">
            מפקח
            <span style="font-weight: normal" *ngIf="institutionData.institution.inspector">
              {{
                institutionData.institution.inspector
              }}
            </span>
            <img src="../../assets/images/torso.png"/>
          </div>

        <div class="overView-info">
          פנימיה במוסד
          <span style="font-weight: normal" *ngIf="institutionData.institution.is_boarding">
            {{
              institutionData.institution.is_boarding ? "כן" : "לא"
            }}
          </span>
          <span class="material-icons" style="color: #4c6597; vertical-align: middle;">
            bed
          </span>
      </div>

      <div class="overView-info">
        בעלות מלאה
        <span style="font-weight: normal" *ngIf="institutionData.institution.full_ownership">
          {{
            institutionData.institution.full_ownership ? "כן" : "לא"
          }}
        </span>
        <span class="material-icons" style="color: #4c6597; vertical-align: middle;">
          vpn_key
        </span>
    </div>

        </div>
      </div>
      <span class="mosadLogo">
        <img *ngIf="institutionData?.institution.logo_url" [src]="
                institutionData?.institution.logo_url
                  ? institutionData.institution.logo_url
                  : ''
              "/>
      </span>
    </div>
    <div class="row">
      <div class="col">
        <div class="stats" style="background-color: #fdf9ff">
          <div appNoDataClass [data]="institutionData?.student_integration" dataClass="stats-numbers"
               noDataClass="no-data">
            {{
            institutionData?.student_integration
            ? institutionData.student_integration + " %"
            : "אין נתונים"
            }}
          </div>
          <span class="stats-name"> שילוב תלמידי ח"מ </span>
        </div>
      </div>
      <div class="col">
        <div class="stats" style="background-color: #f6ffed">
          <div [ngClass]="{
                  'stats-numbers': institutionData?.num_of_teacher,
                  'no-data-numbers': !institutionData?.num_of_teacher
                }">
            {{
            institutionData?.num_of_teacher
            ? institutionData.num_of_teacher
            : "אין נתונים"
            }}
          </div>
          <span class="stats-name"> מורים </span>
        </div>
      </div>
      <div class="col">
        <div class="stats" style="background-color: #fffeee">
          <div appNoDataClass [data]="institutionData?.num_of_special_class" dataClass="stats-numbers"
               noDataClass="no-data">
            <!--          <div [ngClass]="{'stats-numbers':institutionData?.num_of_special_class, 'no-data-numbers': !institutionData?.num_of_special_class }">-->
            {{
            institutionData?.num_of_special_class
            ? institutionData.num_of_special_class
            : "אין נתונים"
            }}
          </div>
          <span class="stats-name"> כיתות חינוך מיוחד </span>
        </div>
      </div>
      <div class="col">
        <div class="stats" style="background-color: #fff5ef">
          <div class="stats-numbers">
            {{
            institutionData?.num_of_class
            ? institutionData.num_of_class
            : "אין נתונים"
            }}
          </div>
          <span class="stats-name"> כיתות רגילות </span>
        </div>
      </div>
      <div class="col">
        <div class="stats" style="background-color: #fff3f3">
          <div class="stats-numbers">
            {{
            institutionData?.num_of_student
            ? institutionData.num_of_student
            : "אין נתונים"
            }}
          </div>
          <span class="stats-name"> תלמידים </span>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="onSave()">
    <div class="form__buttons">
      <!-- <button class="buttons__save">שמירה</button> -->
      <!-- <button class="buttons__link" (click)="navigetToministeryOfEducationSite()">
        התמונה החינוכית
      </button> -->
    </div>
    <div class="form__strength-story">
      <div class="strength-story__title">
        <img src="/assets/images/strength.png"/>
        חוזקות של המוסד
      </div>
      <textarea formControlName="institution_strength" placeholder="כתוב כאן את החוזקות של המוסד..."></textarea>
    </div>
    <div class="form__strength-story">
      <div class="strength-story__title">
        <img src="/assets/images/study 1.png"/>
        הסיפור של המוסד
      </div>
      <textarea formControlName="institution_story" placeholder="כתוב כאן את הסיפור של המוסד..."></textarea>
    </div>
    <div class="form__strength-story">
      <div class="strength-story__title">
        <img src="/assets/images/study 1.png"/>
        אתגר מרכזי שעל שולחן העבודה
      </div>
      <textarea formControlName="institution_challenge" placeholder="כתוב כאן את האתגר מרכזי שעל שולחן העבודה של המוסד..."></textarea>
    </div>

    <div class="form__strength-story">
      <div class="strength-story__title">
        תוכניות
        <mat-accordion>
          <mat-expansion-panel *ngFor="let institutionDataProgram of this.institutionDataPrograms"
                               formGroupName="{{ institutionDataProgram.default.numPlan }}">
            <mat-expansion-panel-header>
              <mat-panel-title>{{
                institutionDataProgram.default.name
                }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="title_expension-institutionDataProgram">
              <textarea formControlName="name_of_program" placeholder="{{
                  institutionDataProgram.default.name_of_program
                }}">
              </textarea>
            </div>

            <div class="title_expension-institutionDataProgram">
              <textarea formControlName="goal_of_program" placeholder="{{
                  institutionDataProgram.default.goal_of_program
                }}"></textarea>
            </div>

            <div class="title_expension-institutionDataProgram">
              <textarea placeholder="{{
                  institutionDataProgram.default.target_audience
                }}" formControlName="target_audience"></textarea>
            </div>

            <div class="title_expension-institutionDataProgram">
              <textarea placeholder="{{ institutionDataProgram.default.regularity }}"
                        formControlName="regularity"></textarea>
            </div>

            <div class="title_expension-institutionDataProgram">
              <textarea placeholder="{{
                  institutionDataProgram.default.success_factors
                }}" formControlName="success_factors"></textarea>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="form__strength-story">
      <div class="strength-story__title">
        <img src="/assets/images/graph-bar.svg"/>
        השוואה למוסדות דומים
      </div>
      במערכת זו קיימת השוואה בין המוסד שלך למוסדות אחרים הדומים לך בנתונים.
      <br/>
      בחר מתוך הרשימה את המוסדות הדומים ביותר למוסד שלך.
      <br/><br/>
      <ng-select formControlName="similarInstitutions" [multiple]="true" [placeholder]="'בחר מוסדות'" [typeahead]
                 notFoundText="לא נמצאו מוסדות המתאימים לחיפוש" [closeOnSelect]="false" [items]="institutionsList"
                 bindLabel="name">
      </ng-select>
    </div>
    <div class="form__buttons">
      <button class="buttons__save">שמירה</button>
      <!-- <button class="buttons__link" (click)="navigetToministeryOfEducationSite()">
        התמונה החינוכית
      </button> -->
    </div>
  </form>
</div>
