/* You can add global styles to this file, and also import other style files */
@import 'sass/main.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@font-face {
  font-family: OpenSansHebrewRegular;
  src: url(assets/fonts/OpenSansHebrew-Regular.ttf) format("opentype");
}
@font-face {
  font-family: OpenSansHebrewBold;
  src: url(assets/fonts/OpenSansHebrew-Bold.ttf) format("opentype");
}

.div-disabled {
  pointer-events: none;
  opacity: 0.4;
}

.loading {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -50px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

