.component {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 5rem 4rem 5rem 5rem;
  justify-content: center;
  width: 100%;
  height: 100%;

  .title{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-right: 33%;
}

  .component__save {
    width: 80rem;
    display: flex;
    justify-content: flex-start;

    .save__btn {
      border: none;
      background-color: #397cb7;
      color: white;
      border-radius: 50px;
      height: 4.5rem;
      width: 13rem;
      font-size: 2.2rem;
      margin-bottom: 3rem;
      cursor: pointer;
    }
    .save__btn--disabled{
      background-color: #658294;
    }
  }

  .component__expansion {
    font-size: 2.2rem;
    background-color: #f7fafc;
    width: 76%;
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
    border: 1px solid #E4EDF5;
    border-radius: 4px;
    padding: 0rem 8rem;
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 3rem;
    position: relative;



    .expansion__header {
      min-height: 8rem;
      display: flex;
      direction: rtl;
      flex-direction: row;
      // justify-content: space-between;
      align-items: center;

      .question_icon{
        padding-left: 8px;
      }

//
}
.expansion__arrow {
  cursor: pointer;
  position: absolute;
  left: 48px;
  bottom: 26px;
      .expansion__arrow--opened {
        transform: rotate(180deg);
      }
    }
    .expansion__content {
      padding-bottom: 3rem;
      align-items: center;
      .content__goal {
        direction: rtl;
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
        border-bottom: 1px solid rgb(105,164,190, 0.5);

        .goal__input {
          width: 100%;
          margin-bottom: 1rem;
        }
      }

      .content__action {
        direction: rtl;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem 0 3rem 0;
        border-bottom: 1px solid rgb(105,164,190, 0.5);


        .action__header {
          display: flex;
          flex-direction: row;
          align-items: center;

          .header__name,
          .header__measure {
            width: 30rem;
            margin-left: 4rem;
          }
          .action__add-milestone {
            padding-top: 2rem;
            color: #397cb7;
            font-size: 1.6rem;
            cursor: pointer;
          }
        }
        .milestone {
          display: flex;
          flex-direction: row;
          margin-top: 1rem;
          .milestone__date {
            width: 30rem;
            margin-left: 4rem;
          }
          .milestone__description {
            width: 80rem;
          }
        }
      }

      .content__action--last{
        padding: 2rem 0 0 0;
        border-bottom: 0;


      }
    }
  }
}
