<div class="component">
  <app-custom-expansion class="component__expansion" *ngFor="let expansion of educationalData" [details]="expansion"
    (openTuggle)="manageExpansions(expansion.name)" [openMode]="expansion.name === openedExpansion">

    <app-expansion-content-bar *ngIf="expansion.subjects.length" [headerText]="expansion.name"
      [openedExpansion]="openedExpansion" [sayings]="expansion.subjects" [sections]="expansion.sections">
    </app-expansion-content-bar>
  </app-custom-expansion>
  <div class="component__input" *ngIf="is_editable_institution">
    <app-custom-input [label]="' שמירת מסקנה'" placeHolder="כתיבת מסקנה..." [control]="conclusionControl"
      ngDefaultControl>
    </app-custom-input>
    <button (click)="onSaveConclusion()" [disabled]="conclusionControl.value == null"
      [ngClass]="{'save-conclusion-btn--disabled': conclusionControl.value == null }">שמירה מסקנה</button>
  </div>
</div>
