.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder{
  top: auto;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{
  top: auto;
  padding-right: 20px;
}
 .ng-select.custom.ng-select-opened.ng-select-bottom > .ng-select-container {
  border-radius: 50px;
}
