<mat-progress-bar *ngIf="isProgressOn" mode="indeterminate"></mat-progress-bar>
<div class="background">
  <div class="login-form">
    <form class="login-form" [formGroup]="changePassForm">
      <div class="logo">
        <img src="../../../assets/images/logo.png" alt="" />
      </div>
      <div class="row">
        <input
          class="input"
          placeholder="סיסמא זמנית"
          dir="rtl"
          [formControl]="changePassForm.controls.old_password"
        />
      </div>
      <div class="row">
        <input
          class="input"
          placeholder="סיסמא חדשה"
          dir="rtl"
          [formControl]="changePassForm.controls.new_password"
        />
      </div>
      <div class="row">
        <input
          class="input"
          placeholder="אימות סיסמא חדשה"
          dir="rtl"
          [formControl]="changePassForm.controls.confirm_password"
        />
      </div>
      <div
        class="button"
        [ngClass]="!changePassForm.valid ? 'div-disabled' : ''"
        (click)="submit()"
      >
        עדכן סיסמא
      </div>
    </form>
  </div>
</div>
