.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  .box__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    .input-label {
      color: #0B2559;
      font-size: 2rem;
      font-weight: bold;
      right: 8px;
      top: 15px;
      background-color: #FFFFFF;
      padding:0 33px 0 8px;
      background-image: url(../../../assets/images/icon-maskana.png);
      background-repeat: no-repeat;
      background-position: right;
      background-color: #E5E5E5;

    }
    .input {
      padding-right: 1.5rem;
      font-size: 1.8rem;
      outline: 0;
      // border: 1px solid #397cb7;
      // border-radius: 4px;
      width: 100%;
      height: 11rem;
      border-radius: 8px;
    }
  }
}
