.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  direction: rtl;
  padding: 2rem 0 0 0;

    .content__summary{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .summary__header{
        font-size: 1.8rem;
        font-weight: bold;
        color: #4F4F4F;
      }
      .summary_graph{
        display: flex;
        flex-direction: row;
        padding: 2rem 0 0 0;

      }
    }
    .content__details{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 55%;
      padding: 0 0 1rem 1rem;

      .details__header{
        font-size: 1.8rem;
        font-weight: bold;
        color: #4F4F4F;

      }
      .details__pieces{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        .pieces__title{
          font-size: 18px;
          font-weight: normal;
          color: #4F4F4F;
        }
      }
      .details__pieces--border{
        border-bottom: 1px solid #E0E0E0;

      }
    }
  }
