<mat-progress-bar *ngIf="isProgressOn" mode="indeterminate"></mat-progress-bar>
<div class="background">
  <div class="login-form">
    <form class="login-form" [formGroup]="loginForm">
      <div class="logo">
        <img src="../../../assets/images/logo.png" alt="" />
      </div>
      <div class="row">
        <input
          class="input"
          placeholder="שם משתמש"
          dir="rtl"
          [formControl]="loginForm.controls.email"
        />
      </div>
      <div
        class="button"
        [ngClass]="!loginForm.valid ? 'div-disabled':  ''"
        (click)="submit()"
      >
       קבל סיסמא זמנית
      </div>
    </form>
  </div>
</div>
